services:
  - type: web
    name: fincorp
    runtime: python
    plan: free
    region: oregon
    buildCommand: "chmod +x build.sh && ./build.sh"
    startCommand: "gunicorn fincorp.wsgi:application --bind 0.0.0.0:$PORT"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: False
      - key: ALLOWED_HOSTS
        sync: false
      - key: WEB_CONCURRENCY
        value: 4
